.calc{
  width: 320px;
  margin: 100px auto;
}
.heading{
  text-align: center;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;

}
#answer{
  background: rgb(144, 139, 139);
  padding: 10px;
  font-size: 50px;
  width: 295px;
  height: 65px;
  text-align: right; 
  border: 3px solid rgb(46, 46, 46);
}

.button{
  background: rgb(65, 62, 62);
  height: 80px;
  width: 80px;
  color:rgb(255, 255, 255);
  font-size: 30px;
  font-style: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  border: 1px solid black;
}

.button1{
  width: 160px;
}